body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.invitation {
    position: relative;
    perspective: 1000px;
}

.invitation img {
    position: absolute;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    backface-visibility: hidden;
    transition: transform 0.6s;
}

#back {
    display: none;
}

.flip-out {
    transform: rotateY(180deg);
}

.flip-in {
    transform: rotateY(-180deg);
}
